tarsius-updater/src/main/resources/data/add/add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011 by Daniel Hodan <daniel.hodan@anyd.cz>.
  ~
  ~ This file is part of Tarsius.
  ~
  ~ Tarsius is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Tarsius is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Tarsius. If not, see <http://www.gnu.org/licenses/>.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="add" type="addType"/>

    <xs:complexType name="addType">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="1" maxOccurs="1"/>
            <xs:element type="packageType" name="package" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="distributionType" name="distribution" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="packageType">
        <xs:sequence>
            <xs:element type="parserType" name="parser"/>
            <xs:element type="tagsType" name="tags"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="parserType">
        <xs:sequence>
            <xs:element type="xs:string" name="param1" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="param2" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="param3" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="class" use="required"/>
    </xs:complexType>

    <xs:complexType name="tagsType">
        <xs:sequence>
            <xs:element name="tag" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="distributionType">
        <xs:sequence>
            <xs:element type="parserType" name="parser"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="release_name"/>
        <xs:attribute type="xs:string" name="homepage"/>
    </xs:complexType>

</xs:schema>